

<h1>Welcome <%= current_user.username %></h1>  
<h2>Current Blog Posts</h2>


<div class="row">
      <% @blog_posts.each do |blog_post| %>
        <div class ="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <%= link_to blog_post.title, blog_post %> 
            </div>
              <div class="panel-body">
                by <em><%= link_to blog_post.user.username, user_posts_path(name: blog_post.user.username) %></em><br>
                <p><i>Created: <%= time_ago_in_words(blog_post.created_at) %> ago</i></p>
                <p><%= blog_post.blog_entry[0..150] %>..<%= link_to "Read More", blog_post_path(blog_post) %></p>
              </div>
                <div class="panel-footer">
                  <% if current_user.id == blog_post.user_id %>
                  <%= link_to "Edit", edit_blog_post_path(blog_post), class: "btn btn-warning" %>
                  <%= link_to "Destroy", blog_post_path(blog_post), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
                  <% end %>
                </div>
          </div>
        </div>
       <% end %>
  </div>
  <%= link_to "New Blog Post", new_blog_post_path, class: "btn btn-success" %>
  <%= paginate @blog_posts%>
